<ul class="notificator">
  <a href="#" id="notification" style="position: relative;">
    <%= render 'notifications/counter', counter: Notification.check(current_user.id).size %>
  </a>
  <div id="notificationContainer">
    <div id="notificationsBody" class="notifications">
      <div id="notificationTitle">Notifications</div>
      <ul id="notificationListUser" style="margin-top: 60px; padding: 5px;">
        <%= render partial: "notifications/notification", collection: notifications, as: :notification  %>
      </ul>
    </div>
  </div>
</ul>
