<% related_products.each do |product| %>
  <div class="product-wrapper">
    <div class="product-img">
      <a href="product-details.html">
        <%= image_tag (product.image_url if product.image.presence) || "/assets/product/product-1.jpg" %>
      </a>
      <div class="product-action">
        <div class="pro-action-left">
          <a title="Add Tto Cart" href="#"><i class="ion-android-cart"></i> Add Tto Cart</a>
        </div>
        <div class="pro-action-right">
          <a title="Wishlist" href="wishlist.html"><i class="ion-ios-heart-outline"></i></a>
          <a title="Quick View" data-toggle="modal" data-target="#exampleModal" href="#"><i class="ion-android-open"></i></a>
        </div>
      </div>
    </div>
    <div class="product-content">
      <h4>
        <a href="product-details.html"><%= product.name %> </a>
      </h4>
      <div class="product-price-wrapper">
        <span>$<%= product.sale_price %></span>
        <span class="product-price-old">$<%= product.price %> </span>
      </div>
    </div>
  </div>
<% end %>
